.container{
    border: 3px solid pink;
    display:grid;
    grid-template-rows: 100px 100px 100px;
    grid-auto-columns: 100px;
    grid-auto-flow: column;
    gap: 20px;
}
.item{
    border: 3px solid green;
    background-color: greenyellow;
    font-size: 2rem;
}